<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding>
                    <security mode="TransportWithMessageCredential">
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Services.HelloService">
                <endpoint binding="netTcpBinding" contract="Contracts.IHelloService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8080/HelloService"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <diagnostics performanceCounters="All">
            <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false">
            </messageLogging>
        </diagnostics>
    </system.serviceModel>
    <system.diagnostics>
        <trace autoflush="true"></trace>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="All">
                <listeners>
                    <add type="System.Diagnostics.XmlWriterTraceListener" name="tracelistener" initializeData="traces.svclog"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
